<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>VueJS API Reader</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href = "styles.css">
</head>

<body>
    <div id="app">

        <h1>Studio Ghibli Film List</h1>
        <table >
            <tr>
                <th>Title </th>
                <th>Release Date</th>
                <th>Director</th>
                <th>Description</th>
            </tr>
            <tr v-for='(item, index) in filmData' >
                <td>{{item.title}}</td>
                <td>{{item.release_date}}</td>
                <td>{{item.director}}</td>
                <td> <button v-on:click='filmDescription(index)'>Description</button> </td>
            </tr>
        </table>
    </div>
 
    <script src="script.js"></script>

</body>

</html>
