table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
  }
  
  td, th {
    border: 1px solid #eeeeee;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #aaa;
  }
  
  tr:nth-child(odd) {
    background-color: #faa;
  }
  
  th {
    color: white;
    background-color: black;
  }